@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$serif-font-family: Georgia, "Times New Roman", PMingLiu, STSong, SimSun, "WenQuanYi Bitmap Song", "Noto Serif CJK", serif;
$code-font-family: "Source Code Pro", Monaco, Menlo, Inconsolata, Consolas, "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.8 !default;

$spacing-unit:     30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

@mixin text-glow {
  transition: text-shadow .5s;
  &:hover {
    color: #fff !important;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(255,255,255,.8);
  }
}

@mixin square-background {
  background-image: linear-gradient(to bottom, transparent 90%, $code-background-color 10%),
                    linear-gradient(to right, transparent 90%, $code-background-color 10%);
  background-size: 10px 10px,10px 10px;
}

// Import pre-styling-overrides hook and style-partials.
@import
"custom-variables", // Hook to override predefined variables.
"base",             // Defines element resets.
"layout",           // Defines structure and style based on CSS selectors.
"custom-styles"     // Hook to override existing styles.
;
