## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="math" file="math_helper.tmpl"/>
<%namespace name="pagination" file="pagination_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl"/>
## <%namespace name="pheader" file="post_header.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
  ${parent.extra_head()}
  %if posts and (permalink == '/' or permalink == '/' + index_file):
    <link rel="prefetch" href="${posts[0].permalink()}" type="text/html">
  %endif
  ${math.math_styles_ifposts(posts)}
</%block>

<%block name="content">

<%block name="content_header">
  ${feeds_translations.translation_link(kind)}
</%block>

%if 'main_index' in pagekind:
  ${front_index_header}
%endif

%if page_links:
  ${pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed)}
%endif

<div class="home">
  <ul class="post-list">

%for post in posts:

  %if theme_util and theme_util.not_index and post.tags:
    %if theme_util.not_index (post.tags):
      <% continue %>
    %endif
  %endif

  <li>
    <span class="post-meta">${post.formatted_date(date_format)|h}</span>
    <h3>
      <a class="post-link" href="${post.permalink()}">${post.title()|h}</a>
    </h3>

  %if index_teasers:
    ${post.text(teaser_only=True)}
  %else:
    ${post.text(teaser_only=False)}
  %endif

  </li>
%endfor

</div>
${math.math_scripts_ifposts(posts)}
</%block>

## index pager
<%block name="pagination">
${helper.html_pager()}
</%block>

## minima theme does not need this
<%block name="comment">
## ${comments.comment_link_script()}
</%block>
