## -*- coding: utf-8 -*-
<%namespace name="math" file="math_helper.tmpl"/>
<%def name="html_pager()">
%if prevlink or nextlink:
  <ul class="index-pager hidden-print">
    <li class="previous">
      %if nextlink:
        <a href="${nextlink}" rel="next">< ${messages("Older posts")}</a>
      %endif
    </li>
    <li class="next">
      %if prevlink:
        <a href="${prevlink}" rel="prev">${messages("Newer posts")} ></a>
      %endif
    </li>
  </ul>
%endif
</%def>

### This function is deprecated; use math_helper directly.
<%def name="mathjax_script(posts)">
  ${math.math_scripts_ifposts(posts)}
</%def>
